
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
env/
venv/
.venv/

.ipynb_checkpoints/
*.ipynb_checkpoints

data/*.csv
data/*.json
!data/.gitkeep

.vscode/
*.code-workspace

.DS_Store
Thumbs.db
desktop.ini

.env
*.local